---
const {customText} = Astro.props
---

<footer>
  <h1>This is my footer</h1>
  <p>{customText}</p>
</footer>

<style lang="scss">
  footer {
    h1 {
      background: #303030;
      color: white;
    }
  }
</style>